#main {
    float: left;
    width: 520px;
    padding: 10px;
    border: 5px double aqua;
    border-right-color: lime;
    border-bottom-color: green;
    border-left-color: blue;
}
p:first-line {
    font-size: 18px;
    background-color: orange;
    color: white;
}
img {
    float: right;
    margin-left: 10px;
    width: 200px;
}