:root { font-family: 'Inter', sans-serif; }



header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 54px;
    gap: 183px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0;
    gap: 51px;
    font-size: 20px;
}

#space-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;
    color: #7AD53A;
}

#space-2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 93px 208px;
    gap: 28px;
    background-image: url("images/space-2-background.png");


    height: 435px;
}

#space-2-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 28px;
}

#space-2-1-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 28px;
}

#space-2-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 30px;

    width: 1183px;
    height: 382px;
}

.space-2-2-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 19px 49px;
    gap: 10px;

    width: 150px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
}

#space-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 54px;
}

#space-3-1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 45px;
}

#space-3-1-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 48px;
}

#space-4{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

#space-4-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

#space-4-1-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 26px;
}

#space-4-1-1-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 6px;
}

#space-4-1-1-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 58px;
}

#space-4-1-1-2-1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 14px;
}

#space-4-1-1-2-2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 64px;
}

#space-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 459px;
    gap: 10px;

    background: #F5F5F5;
}

#space-5-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 48px;
}

#space-5-1-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 21px;
}

#space-5-1-2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
    gap: 41px;
}

#space-5-1-2-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 6px;
    gap: 29px;
}

#space-5-1-2-1-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 41px;
}

#space-5-1-2-1-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 43px;
}

#space-5-1-2-1-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 10px;
}

#space-5-1-2-1-4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 35px;
}

#space-5-1-2-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    gap: 10px;

    width: 119px;
    height: 34px;

    background: #A2238E;
    border-radius: 6px;
}

#space-6{
    flex-direction: row;
    align-items: center;
    padding: 16px 311px;
    gap: 10px;

    background: #D6D6D6;
}

#space-6-1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}

#space-6-1-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 51px;
}

#space-6-1-2{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 10px;
}

#space-6-1-1-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 17px;
}

#space-6-1-1-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 17px;
}

#space-7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 596px;
    gap: 10px;
}

#space-7-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 15px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    height: 104px;

    background: #27E05B;
}

.cardDiv{
    width: 325px;
    height: 270px;
}

.navA{
    text-decoration: none;
    color: black;
}

.fSize20{
    font-size: 20px;
    text-align: center;
}

.fSize14{
    font-size: 14px;
    text-align: center;
}